.container {
    width: 1054px;
    padding-bottom: 102px;
}
.header {
    width: 100%;
}
.top {
    height: 96px;
    line-height: 96px;
}
.logo {
    vertical-align: middle;
}
.gradientLine {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
}
.line {
    width: 100%;
    height: 2px;
    display: block;
}
