@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto/Roboto-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto/Roboto-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto/Roboto-Regular.woff2");
  font-weight: 400;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #020B14;
  color: #FFFFFF;
  .App {
    display: flex;
    justify-content: center;
  }
}