@import '../../variables.scss';

.mainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pictureBox {
    padding: 12px;
}
.content {
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    position: relative;
}
.header {
    margin: 0 0 28px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.text {
    margin: 0 0 28px;
    @include textParagraph;
}
.ratingContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.submitBtn {
    @include buttonSubmit;
    display: block;
    line-height: 44px;
    &:hover {
        box-shadow: 0 0 3px #bbb;
    }
}